/* Rent List */
.rent-title {
  font-size: 3vw;
  font-weight: bold;
  color: #b86836;
  padding-left: 3vw;
}
.horizontal-line {
  width: 92vw;
  margin-left: 3vw;
  border: 1px solid #b8683693;
}
.rented-values {
  padding-top: 9px;
  font-size: 12px;
}
.rented-values-title {
  font-size: 14px;
  color: #d0b391;
  font-weight: bold;
}
.rented-item {
  border: 2px solid #b86836d5;
  border-radius: 10px;
  height: 40px;
}
.rented-values-container {
  height: 76vh;
}
.returned-btn{
  color: #b86836;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  background-color: white;
  margin-top: 2.5px;

}

/* Add Car */
.add-car-title {
  font-size: 3vw;
  font-weight: bold;
  color: #b86836;
  padding-left: 3vw;
}

/* Dashboard */
.dashboard-data {
  height: 150px;
  border-radius: 10px;
  background-color: #d0b391;
}
.dashboard-data-title {
  font-size: 1.6vw;
  text-align: center;
}
.dashboard-data-number {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}
.dashboard-title{
  font-size: 2vw;
  font-weight: bold;
  color: #b86836;
  margin-top: 10vh;
}
.dashboard-horizontal-line {
  width: 100%;
  border: 1px solid #b8683693;
}
.dashboard-table{
  height: 40vh;
}
.dashboard-table-values{
  padding-top: 9px;
  font-size: 14px;
}
.dashboard-table-title{
  font-size: 16px;
  color: #d0b391;
  font-weight: bold;
}
.dashboard-table-item {
  border: 2px solid #b86836d5;
  border-radius: 10px;
  height: 42px;
}
.view-btn{
  color: #b86836;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  background-color: white;
}

/* View Car */
.view-image{
  height: 20vw;
  background-image: url('/public/images/Car\ Images.jpg');
  background-size: cover;
}
.car-details{
  font-size: 1.2vw;
  color: #b86836;
}
.modify-form-label{
  font-size: 1.3vw;
  color: #b86836;
  font-weight: bold;
}
.to-dashboard-btn{
  font-size: 2.3vw;
  color: #b86836;
  cursor: pointer;
}