.main-background{
  height: 100vh;
  background-image: url("/public/images/1.png");
  background-size: cover;
}
.nav-routers {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2.5vw;
}
#nav-container{
  margin-right: 5vw;
}
#logo-container{
  margin-left: 2.5vw;
}
