/* RentCar.jsx */
.rent-car-title {
  font-size: 3vw;
  font-weight: bold;
  color: #b86836;
}
.rent-car-label{
  font-size: 16px;
  color: #d0b391;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 10px;
}
.no-car-error{
  color: rgb(187, 24, 24);
  font-weight: bold;
  font-size: 3vw;
}
.available-car-table{
  border: 3px solid #b86836;
  border-radius: 10px;
  height: 37vh;
}
.available-car-items{
  height: 40px;
  border: 2px solid #d0b391;
  border-radius: 10px;
}
.available-car-values{
  font-size: 15px;
  padding-top: 7px;
}
.available-car-title{
  font-size: 15px;
  font-weight: bold;
  color: #d0b391c0;
}
.rent-button{
  margin-top: 3px;
  height: 30px;
  width: 80px;
  border: 0;
  border-radius: 7px;
  background-color: #d0b391;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Profile.jsx ==============================*/
.profile-side {
  background-color: #d0b391;
  height: 86vh;
  border-radius: 0 10px 10px 0;
}
.profile-icon {
  font-size: 11vw;
  color: #b86836;
}
.profile-name {
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 1px;
}
.profile-id {
  font-size: 1.05vw;
}
.profile-gender {
  font-size: 1.4vw;
}
.reserved-car-container {
  height: 45vh;
  border: 1.8px solid #d0b391;
  border-radius: 10px;
}
.car-values{
  font-size: 1vw;
}
.car-values-container{
  height: 3.5vw;
  border: 2px solid #B86836;
  border-radius: 10px;
}
.car-values-title{
  font-size: 1.1vw;
  font-weight: bold;
  color: #d0b391;
}
.info-button{
  background-color: white;
  color: #7d4d2a;
  font-weight: bold;
  height: 100%;
  width: 60%;
  letter-spacing: 2px;
  border: 0;
}
.car-info-container {
  height: 19vh;
  border: 1.8px solid #d0b391;
  border-radius: 10px;
}
.info-picture{
  background-image: url("/public/images/Car Images.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -30px;
}
.info-values{
  font-size: 1.5vw;
  color: #7d4d2a;
}
/* Garage ================================*/
.garage-title{
  font-size: 3vw;
  font-weight: bold;
  color: #b86836;
  letter-spacing: 1px;
}
.garage-items-container{
  height: 73vh;
}


