.pic-side {
  background-image: url("/public/images/Sign-up\ Bg.jpg");
  background-size: cover;
}
.signup-form-container {
  height: 420px;
}
.create-acc-title {
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 1px;
  color: #B86836;
}
.have-account{
  font-weight: bold;
  width: 80%;
  color: #7d4d2a;
}
.error-message{
  color: red;
  font-size: 12px;
  font-weight: bold;
}